html, body, #root{
  height: 100%;
}

.App {
  text-align: center;
  font-size: 16px;
  background-color: antiquewhite;
  font-family: 'Cinzel', cursive;
  font-size: 1.5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.poop{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  height: 600px;
  max-width: 90%;
  margin-right: 15em;
  margin-left: 15em;
  margin-top: 5em;
}
.checkBoxes{
  align-self: left;
}

.App-header { 
  background-image: url('assets/row.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-color: #581845;
  height: 175px;
  width: 100%;
  padding: 20px;
  color: antiquewhite;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 4em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
