html, body, #root{
  height: 100%;
}

.App {
  text-align: center;
  font-size: 16px;
  background-color: antiquewhite;
  font-family: 'Cinzel', cursive;
  font-size: 1.5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.genreList{
  border: double saddlebrown 4px;
  border-radius: 5px;  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 7em;
  max-width: 95%;
  margin-right: 10em;
  margin-left: 10em;
  margin-top: 10px;
}
.individualCheckBoxes{
  align-self: left;
}

.bookList{
  margin-right: 15em;
  margin-left: 15em;
  height: auto;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}
.individualBook{
  border: double saddlebrown 4px;
  border-radius: 5px;

  margin: 10px;
  width: 100em;
  display: flex;
  flex-direction: row;
}
.bookInfo{
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  flex-direction: column;
}
.title{
  font-size: 1.5em;
  color: black;
}
.description{
  font-size: .75em;
}
.App-header { 
  background-image: url('assets/row.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-color: #581845;
  height: 175px;
  width: 100%;
  padding: 20px;
  color: antiquewhite;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 4em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
