html, body, #root{
  height: 100%;
}

.App {
  text-align: center;
  font-size: 16px;
  background-color: antiquewhite;
  font-family: 'Cinzel', cursive;
  font-size: 1.5em;
}
.App-header { 
  background-image: url('assets/row.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-color: #723910;
  height: 175px;
  width: 100%;
  padding: 20px;
  color: #413A2E;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 4em;
  color: antiquewhite;
}
.LogInDiv{
  padding: 1em;
}
.submitDIV{
  padding: 1em;
}

.genreList{
  border: double #8B4513 4px;
  border-radius: 5px;  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  height: 7em;
  max-width: 95%;
  margin-right: 10em;
  margin-left: 10em;
  margin-top: 10px;
}
.individualCheckBoxes{
  align-self: left;
}
.bookButtons{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
}
a{
  color: inherit;
}
button{
  border-radius: 5px;
}
.bookList{
  margin-right: 10em;
  margin-left: 10em;
  height: auto;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}
.individualBook{
  color: #413A2E;

  background-color: #F0CB8E;
  box-shadow: 2px 2px 2px #723910;
  border: double #8B4513 4px;
  border-radius: 5px;

  margin: 10px;
  width: 100em;
  display: flex;
  flex-direction: row;
}
.bookInfo{
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  flex-direction: column;
}
.title{
  font-size: 1.5em;
  color: black;
}
.description{
  font-size: .75em;
}
